<div class="container px-2 px-sm-0">
<h5>ジャンル一覧・追加</h5>
<div class="row">
<label>ジャンル名</label>
<%= form_with model: @genre do |f| %>
<%= f.text_field :name %>
 <input class="btn btn-success" type="submit" Value="新規登録" >
<% end %>
</div>
</div>