 <div class="col-2 h-75">
   <div class="border border-dark ">
    <p class="my-1 text-center"> ジャンル検索</p>
   </div>

   <div class="border border-dark border-top-0 pt-2 pl-2">
     <% genres.each do |genre| %>
     <%= genre.name %></br>
     <% end %>
   </div>
 </div>